<! DOCTYPE HTML>
<html>
  <head>

    <script src="jquery-3.5.1.min.js"></script>
    <meta charset="utf-8">
    <title> Diozik </title>
    
    <! -- CSS -- >
    <!--importation de BULMA--> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="icon" href="../static/img/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/cgv.css">
    <! -- CSS -- >
    
    <! -- JS -- >
    <script rel="stylesheet" src="../static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap/min.js"></script>
    <! -- JS -- >
    
    <! -- FONT -- >
    <!--Importation des polices-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d124f7e81a.js" crossorigin="anonymous"></script>
    <! -- FONT -->

  </head>
  <body>
    <div class="block">
      <p class="form">
        Diozik©
        <br>
        <p class="sous-titre">
          Société indépendante au capital de plusieurs milliards d'euros (c'est bien connu).
          <br>Siège social au 12 Rue Hélène Boucher.
        </p>
      </p>
      <br>
      <p class="titre">
        Conditions générales des abonnements vendus sur Diozik
      </p>
      <p class="maj">
        Date de dernière mise à jour : 05/04/2021 - 17:04
      </p>
      <br>
      <p class="article">
        Article 1 - Objet
      </p>
      <p class="paragraphe">
        Les présentes conditions régissent les ventes par la société Diozik© de contrat d'abonnements pouvant être
        effectué sur le site.
      </p>
      <p class="article">
        Article 2 - Prix
      </p>
      <p class="paragraphe">
        Les prix de nos produits sont indiqués en euros toutes taxes comprises
        (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors frais de traitement et d'expédition. 
        <p class="espace">
          Toutes les commandes quelle que soit leur origine sont payables en euros.
        </p> 
        <p class="espace">
          La société Diozik© se réserve le droit de modifier 
          ses prix à tout moment, mais le produit sera facturé sur la base du tarif 
          en vigueur au moment de la validation de la commande et sous réserve de 
          disponibilité. 
        </p>
      </p>
      <p class="article">
        Article 3 - Validation de votre commande
      </p>
      <p class="paragraphe">
        Toute commande figurant sur le site Internet Diozik suppose l'adhésion aux 
        présentes Conditions Générales. Toute confirmation de commande entraîne votre 
        adhésion pleine et entière aux présentes conditions générales de vente, sans 
        exception ni réserve. 
        <p class="espace">
          L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. 
        </p>
        <p class="espace">
          Vous déclarez en avoir parfaite connaissance.  
        </p>
      </p>
      <p class="article">
        Article 4 - Paiement
      </p>
      <p class="paragraphe">
        Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué.
        <p class="espace">Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé PayPal </p>
      </p>
      <p class="article">Article 5 - Rétractation</p>
      <p class="paragraphe">Conformément aux dispositions de l'article L.121-21 du 
        Code de la Consommation, vous disposez d'un délai de rétractation de 14 jours à 
        compter de l'achat d'un abonnement pour exercer votre droit 
        de rétraction sans avoir à justifier de motifs ni à payer de pénalité.</p>
        <p class="espace">
          En cas d'exercice du droit de rétractation, la société Diozik© 
          procédera au remboursement des sommes versées, dans un délai de 14 jours 
          suivant la notification de votre demande et 
          via le même moyen de paiement que celui utilisé lors de la commande.
          <br> EXCEPTIONS AU DROIT DE RETRACTATION 
        </p>
        <p class="espace">
          Conformément aux dispositions de l'article L.121-21-8 du Code de la Consommation, 
          le droit de rétractation ne s'applique pas à : 
        </p>
        <dl>
          <li class="enu">La fourniture de services pleinement exécutés avant la fin du délai 
            de rétractation et dont l'exécution a commencé après accord préalable exprès du 
            consommateur et renoncement exprès à son droit de rétractation.</li>
            <li class="enu">
              La fourniture de biens ou de services dont le prix dépend de fluctuations 
              sur le marché financier échappant au contrôle du professionnel et 
              susceptibles de se produire pendant le délai de rétractation.
            </li>
            <li class="enu">
              La fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés.
            </li>
            <li class="enu">La fourniture de biens susceptibles de se détériorer ou de se périmer rapidement.</li>
            <li class="enu">La fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour 
              des raisons d'hygiène ou de protection de la santé.</li>
            <li class="enu">La fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles ;</li>
            <li class="enu">La fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de 
              fluctuations sur le marché échappant au contrôle du professionnel.</li>
            <li class="enu">La fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison.</li>
            <li class="enu">La fourniture d'un journal, d'un périodique ou d'un magazine, sauf pour les contrats d'abonnement à ces publications.</li>
            <li class="enu">Les transactions conclues lors d'une enchère publique.</li>
            <li class="enu">La fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et 
              renoncement exprès à son droit de rétractation.</li>
        </dl>
        <br>
        <p class="article">
          Article 6 - Données personnelles
        </p>
        <p class="paragraphe">
          La société Diozik© se réserve le droit de collecter 
          les informations nominatives et les données personnelles vous concernant. 
          Elles sont nécessaires à la gestion de votre commande, ainsi qu'à 
          l'amélioration des services et des informations que nous vous adressons.
          <p class="espace">
            Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. 
          </p>
          <p class="espace">Conformément à la loi du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations nominatives et aux données 
            personnelles vous concernant, directement sur le site Internet. </p>
        </p>
    </div>
  </body>
</html>