<!DOCTYPE HTML>

<html>
    <head>
        
        <script src="jquery-3.5.1.min.js"></script>
        <meta charset="utf-8">
        <title> Diozik </title>
        
        <! -- CSS -- >
        <!--importation de BULMA--> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="icon" href="../static/img/icon.ico"/>
        <link rel="stylesheet" href="../static/css/cgu.css">
        <! -- CSS -- >
        
        <! -- JS -- >
        <script rel="stylesheet" src="../static/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap/min.js"></script>
        <! -- JS -- >
        
        <! -- FONT -- >
        <!--Importation des polices-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d124f7e81a.js" crossorigin="anonymous"></script>
        <! -- FONT -->

    </head>

    <body>
        <div class="block">
            <h1 class="titre">Politique de confidentialité de Diozik</h1>
            <ol class="enumeration">
                <li>1 - <a href="#introduction" class="sous">Introduction</a></li>
                <li>2 - <a href="#2" class="sous">A propos de la présente politique</a></li>
                <li>3 - <a href="#3" class="sous">Vos droits et vos préférences : vous donner le choix et le contrôle</a></li>
                <li>4 - <a href="#4" class="sous">Données personnelles que nous receuillons de vous</a></li>
                <li>5 - <a href="#5" class="sous">Utilisation de vos données personnelles</a></li>
                <li>6 - <a href="#6" class="sous">Communication de vos données personnelles</a></li>
                <li>7 - <a href="#7" class="sous">Conservation et suppression de vos données</a></li>
                <li>8 - <a href="#8" class="sous">Modifications de la présente politique</a></li>
            </ol>
            <p id="#introduction" class="relier">1 - Introduction</p>
            <p class="paragraphe">
                Merci de choisir Diozik !
                <p class="espace">
                     souhaite vous offrir la meilleure expérience possible et ainsi s'assurer que vous 
                    profiterez de notre service. Pour ce faire, nous devons comprendre vos habitudes 
                    de lecture en continu afin que nous puissions vous offrir un service exceptionnel 
                    t personnalisé. Votre vie privée et la sécurité de vos données personnelles sont 
                    et resteront toujours d'une importance capitale pour nous. Nous voulons donc 
                    expliquer de manière transparente comment et pourquoi nous recueillons, 
                    conservons, communiquons et utilisons vos données personnelles et décrire les 
                    contrôles dont vous disposez ainsi que les préférences que vous pouvez indiquer 
                    quant au moment et à la manière de communiquer vos données personnelles.
                </p>
                <p class="espace">
                    C'est notre objectif et la présente politique de confidentialité 
                    explique de façon plus détaillée ce que nous voulons dire ci-après.
                </p>
            </p>
            <p id="2" class="relier">2 - A propos de la présente politique</p>
            <p class="paragraphe">
                La présente politique précise les éléments essentiels concernant la relation entre vos 
                données personnelles et Diozik. La politique s'applique à tous les services 
                de Diozik et à tout service connexe. Les modalités qui régissent votre 
                utilisation du service Diozik sont définies dans nos Conditions générales 
                d'utilisation.
                <p class="espace">De temps à autre, nous pourrons mettre au point 
                    de nouveaux services ou offrir des services supplémentaires. 
                    Si le lancement de ces nouveaux services ou services supplémentaires 
                    entraîne des changements importants à la manière dont nous recueillons ou 
                    traitons vos données personnelles, nous vous ferons parvenir plus de 
                    renseignements ou des modalités ou des politiques supplémentaires. 
                    Sauf indication contraire, lorsque nous lancerons de nouveaux services 
                    ou des services supplémentaires, 
                    ceux-ci seront assujettis à la présente politique.
                </p>
                <p class="espace">
                    La présente politique vise à :
                </p>
            </p>
            <br>
            <ol class="paragraphe-li2">
                <li>S'assurer que vous comprenez quelles données personnelles nous recueillons à 
                    votre sujet, les raisons pour lesquelles 
                    nous les recueillons et les utilisons et à qui nous les communiquons;</li><br>
                <li>Expliquer la manière dont nous utilisons les données personnelles que vous nous 
                    communiquez, afin de vous 
                    offrir une expérience exceptionnelle lorsque vous utilisez le service Diozik;</li><br>
                <li>Expliquer vos droits et vos options par rapport aux données personnelles que nous recueillons 
                    et traitons, et la façon dont nous protégerons votre vie privée.</li>
            </ol>
            <p class="paragraphe">
                Nous espérons que la présente politique vous aidera à comprendre nos 
                engagements à votre endroit en matière de confidentialité. Pour obtenir 
                plus de précisions concernant les termes utilisés dans la présente politique, 
                consultez notre Centre de confidentialité à l'adresse diozik.com. Pour savoir 
                comment communiquer avec nous si vous avez des questions ou des préoccupations,
                veuillez vous reporter à la section 10 des <a class="lien" target="frame" href="{{ url_for('cgu') }}">CGU</a> << Nous contacter >>.
                Par ailleurs, si vous n'êtes pas d'accord avec le contenu de la présente politique, 
                n'oubliez pas que vous êtes libre d'utiliser ou non le service Diozik.
            </p>
            <p class="relier" id="3">3 - Vos droits et vos préférences : vous donner le choix et le contrôle</p>
            <p class="paragraphe">
                Le Règlement général sur la protection des données (RGPD) confère certains 
                droits aux personnes physiques en ce qui a trait à leurs données personnelles. 
                Par conséquent, nous sommes ravis d'offrir des mesures en matière de transparence 
                et de contrôles d'accès afin de permettre à nos utilisateurs de se prévaloir de 
                ces droits. Le cas échéant, et sous réserve des restrictions prévues par les lois 
                applicables, 
                les droits accordés aux personnes physiques sont les suivants :
            </p>
            <dl class="paragraphe-li">&ensp;
                <li>Droit d'accès – le droit d'être informé des données personnelles que nous traitons vous concernant et de soumettre une demande d'accès à celles-ci;</li><br>
                <li>Droit à la rectification – le droit de demander que l'on modifie ou mette à jour vos données personnelles lorsqu'elles sont inexactes ou incomplètes;</li><br>
                <li>Droit à l'effacement – le droit de demander que vos données personnelles soient supprimées;</li><br>
                <li>Droit à la limitation – le droit de demander que nous arrêtions temporairement ou définitivement de traiter l'ensemble ou une partie de vos données personnelles;</li><br>
                <li>Droit d'opposition –</li><br>
                <ol class="ol2">
                    <li>le droit, à tout moment, de vous opposer à ce que nous traitions vos données personnelles pour des raisons reliées à votre situation particulière;</li><br>
                    <li>le droit de vous opposer au traitement de vos données personnelles à des fins de marketing direct;</li><br>
                </ol>
                <li>Droit à la portabilité des données – le droit de demander une copie de vos données personnelles en format électronique et le droit de transmettre ces données 
                    personnelles pour utilisation dans les services d'un tiers;</li><br>
                <li>Droit de ne pas être l'objet d'une prise de décision automatisée – le droit 
                    de ne pas être assujetti à une décision basée uniquement sur une prise de 
                    décision automatisée, y compris le profilage, lorsque la décision pourrait 
                    avoir une incidence 
                    juridique sur vous ou avoir des conséquences importantes similaires.</li>
            </dl>
            <p class="paragraphe">Si vous avez des questions concernant votre vie privée, vos 
                droits et la manière de les exercer, veuillez communiquer avec notre délégué à 
                la protection des données en utilisant le formulaire << Communiquer avec nous >> 
                des conditions générales d'utilisation. Si vous avez des préoccupations concernant notre 
                traitement de vos données personnelles, nous espérons que vous poursuivrez 
                votre collaboration avec nous pour les régler. Toutefois, vous pouvez également 
                communiquer avec l'autorité française de protection des données (CNIL) 
                ou votre autorité locale de protection des données et 
                avez le droit de déposer une plainte auprès de ces autorités.</p>
            <p class="relier" id="4">4 - Données personnelles que nous receuillons de vous</p>
            <p class="paragraphe">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta dui 
                nibh, nec tincidunt mauris dictum eu. Nam pharetra rhoncus dapibus. Sed et 
                pellentesque tortor. Nullam dictum enim sollicitudin, venenatis libero sed, 
                rutrum lacus. Morbi commodo euismod tellus, a aliquet dolor ultrices vitae. 
                Quisque in diam nec dui scelerisque maximus. Sed faucibus, elit et tincidunt 
                efficitur, nibh ante commodo velit, ac ullamcorper elit lorem ac metus. 
                Curabitur fringilla luctus odio tincidunt sagittis. Ut viverra dolor sed sem 
                suscipit, vel pellentesque enim volutpat. Vivamus vel laoreet dui. 
                Nulla vehicula neque sit amet diam consectetur, at fermentum orci feugiat.
                <p class="espace">In hac habitasse platea dictumst. Donec metus risus, scelerisque 
                    sed pulvinar nec, vehicula vitae dui. Nulla facilisi. Suspendisse quis auctor 
                    felis. Integer bibendum dictum leo nec suscipit. In quam dolor, lacinia ac lectus 
                    vel, sollicitudin efficitur sem. 
                    Nunc iaculis vestibulum magna, ac congue odio vestibulum eu.</p>
                <p class="espace">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Vestibulum vel leo elit. Nunc pellentesque sit amet urna ut vestibulum. 
                    In ultrices eros tellus. In hac habitasse platea dictumst. Nam ac ultrices orci. 
                    Donec ut mi id augue congue finibus. 
                    Maecenas eu massa interdum, cursus dui ac, ornare nunc.</p>
            </p>
            <p class="relier" id="5">5 - Utilisation de vos données personnelles</p>
            <p class="paragraphe">
                Lorsque vous utilisez le service Diozik ou interagissez avec lui, 
                nous nous servons de diverses technologies pour traiter les données 
                personnelles que nous recueillons à votre sujet pour diverses raisons.
                <p class="espace">
                    Etiam a accumsan tellus, accumsan semper lectus. Pellentesque habitant morbi 
                    tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sit 
                    amet mollis tellus. Nullam laoreet consectetur enim, nec varius lorem vehicula 
                    ac. Aenean lectus massa, consectetur non dignissim eu, suscipit non neque. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
                    turpis egestas. Sed eu mauris vestibulum, eleifend mi et, rutrum mi. 
                    Pellentesque in vulputate massa. Phasellus fringilla sem ut molestie volutpat. 
                    Vivamus dignissim sed nisl a tincidunt. Aliquam euismod at sem nec ornare. 
                    Proin at est quis diam auctor varius ut sit amet arcu. Fusce interdum sodales 
                    suscipit. Nulla fringilla, quam vel sagittis egestas, magna neque malesuada 
                    odio, vel sollicitudin nisi leo vel felis. Duis semper 
                    velit vel orci sagittis faucibus. Cras non condimentum lectus.
                </p>
            </p>
            <p class="relier" id="6">6 - Communication de vos données personnelles</p>
            <p class="paragraphe">
                Nous avons établi les catégories de destinataires des données personnelles recueillies ou générées 
                dans le cadre de votre utilisation du service Diozik.
                <p class="espace" style="font-style: italic; font-weight: bold;">
                    Information publiquement disponible
                </p>
                <p class="espace">
                    Les données personnelles suivantes seront toujours publiquement disponibles 
                    sur le service Diozik : votre nom ou votre nom d'utilisateur, la photo 
                    de votre profil, les utilisateurs que vous suivez, ceux qui vous suivent sur 
                    le service 
                    Diozik, les artistes écoutés récemment et vos listes de lecture publiques.
                </p>
                <p class="espace" style="font-style: italic; font-weight: bold;">
                    Données personnelles que vous pouvez choisir de communiquer
                </p>
                <p class="espace">
                    Les données personnelles suivantes ne seront communiquées qu'aux catégories de 
                    destinataires indiquées dans le tableau ci-dessous, si :
                </p><br>
                <dl class="paragraphe-li">
                    <li>vous choisissez d'utiliser une fonction précise du service Diozik qui exige 
                        la communication de certaines données personnelles 
                        pour une utilisation adéquate de la fonction du service Diozik; ou</li><br>
                    <li>vous nous autorisez à communiquer les données personnelles, p. ex., 
                        en sélectionnant les réglages appropriés du service Diozik 
                        ou en autorisant Diozik au moyen d'un mécanisme de consentement fourni.</li>
                </dl>
            </p>
            <p class="relier" id="7">7 - Conservation et suppression de vos données</p>
            <p class="paragraphe">
                Nous conservons vos données personnelles tant qu'elles sont requises pour vous 
                fournir le service Diozik et à des fins d'affaires légitimes et essentielles, 
                comme le maintien de la performance du service Diozik, la prise de décisions 
                stratégiques basées sur des données concernant de nouvelles fonctionnalités et 
                offres, le respect de nos obligations légales et le règlement de différends. 
                Nous conservons certaines de vos données personnelles tant que vous êtes un 
                utilisateur du service Diozik. Par exemple, nous conservons vos listes de 
                lecture, 
                votre bibliothèque de chansons et les informations sur le compte.
                <p class="espace">
                    Si vous le demandez, nous supprimerons vos données personnelles ou les 
                    rendrons anonymes afin qu'elles ne permettent plus de vous identifier,
                    sauf si nous devons les conserver pour répondre à des obligations légales ou 
                    si la loi nous autorise à conserver certaines données personnelles, 
                    notamment dans des situations comme celles indiquées ci-après :
                </p><br>
                <dl class="paragraphe-li">
                    <li>s'il y a un problème non réglé par rapport à votre compte, tel qu'un crédit 
                        en souffrance ou une réclamation ou un différend non résolu, nous conservons 
                        les données personnelles nécessaires jusqu'au règlement de la situation;</li><br>
                    <li>dans le cas où nous devons conserver les données personnelles en vertu de nos 
                        obligations légales et fiscales ou d'exigences comptables ou de vérification, 
                        nous les conservons pour la période requise en vertu de la loi applicable;</li><br>
                    <li>dans le cas où elles sont nécessaires pour nos intérêts d'affaires légitimes tels que 
                        la prévention de la fraude ou la sécurité de nos utilisateurs.</li>
                </dl>
            </p>
            <p class="relier" id="8">8 - Modifications de la présente politique</p>
            <p class="paragraphe">
                Nous pouvons à l'occasion apporter des modifications à la présente politique.
                <p class="espace">
                    Si nous apportons des modifications substantielles à la présente politique, 
                    nous vous transmettrons un avis bien en vue selon ce qui convient à la situation, 
                    par exemple en affichant un avis bien en vue sur le service Diozik ou en 
                    vous envoyant un courriel et/ou une notification 
                    sur votre appareil. Il se peut que nous vous en informions à l'avance.
                </p>
                <p class="espace">Par conséquent, assurez-vous de lire attentivement un tel avis.</p>
            </p><br>
        </div>
    </body>

</html>