<!DOCTYPE HTML>
<html>
<! -- HEAD -- >
    <head>
        <script src="jquery-3.5.1.min.js"></script>
        <meta charset="utf-8">
        <title> Diozik </title>
        
        <! -- CSS -- >
        <!--importation de BULMA--> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="icon" href="static/img/icon.ico"/>
        <link rel="stylesheet" href="static/css/shop.css">
        <! -- CSS -- >
        
        <! -- JS -- >
        <script src="static/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap/min.js"></script>
        <! -- JS -- >
        
        <! -- FONT -- >
        <!--Importation des polices-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d124f7e81a.js" crossorigin="anonymous"></script>
        <! -- FONT -->
    </head>

    <body id="body">
        <div class="block" >
			<header class="header">
				<center class="pc"><a href="{{ url_for('home') }}" class="header-logo2"> <img src="../static/img/site2.png" class="header-logo-photo2"></a>
				<a href="{{ url_for('home') }}" class="header-logo-titre2">Diozik</a><a class="shop" href="{{ url_for('shop') }}"><i class="fas fa-shopping-cart"></i></a></center>
                <a href="{{ url_for('home') }}" class="header-logo"> <img src="../static/img/site2.png" class="header-logo-photo"></a>
				<a href="{{ url_for('home') }}" class="header-logo-titre">Diozik</a>
				<nav class="header-menu">
					<ul class="test">
						<li class="deroulant"><a  class="icon" href="" id="menu-icon"><i class="fas fa-bars"></i></a>
							<ul class="sous">
                                <hr class="separateur">
								<li class="t"><a href="{{ url_for('shop') }}" class="boutique">Boutique</a></li>
								<li class="t"><a class="t2" href="{{ url_for('about') }}">A propos</a></li>
								<li class="t"><a class="t2" href="{{ url_for('headersign') }}">{{ sign }}</a></li>
								<li class="t"><a class="t2" href="{{ url_for('headerlog') }}">{{ log }}</a></li>
							</ul>
						</li>
					</ul>
					<ul class="sous2">
						<li><a href="{{ url_for('shop') }}" class="boutique2">Boutique</a></li>
						<li><a href="{{ url_for('headersign') }}">{{ sign }}</a></li>
						<li><a href="{{ url_for('headerlog') }}">{{ log }}</a></li>
					</ul>
				</nav>
			</header>
		</div>
        <video class="video2" autoplay loop src="static/video/shop_video.mp4"></video>
        <center><div class="diozik"><h1 class="titre">DIOZIK - BOUTIK</h1></div></center>
        <center><div class="bug"><p class="text">{{ msg }}</p></div></center>
        <div class="block">
            <div class="container">
                <div class="columns">
                    <div class="box">
                        <div class="column">
                            <h1 class="titre_packages">DIOZIK ESSENTIEL</h1>
                            <center>
                                <p class="price-g">GRATUIT</p>
                                <h1 class="access"><i class="fas fa-check"></i>Le plus grand catalogue de musique à ce jour.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Publier ses propres musiques.</h1>
                                <h1 class="access-none"><i class="fas fa-times"></i>Sans publicités.</h1>
                                <h1 class="access-none"><i class="fas fa-times"></i>Zapper à volonté.</h1>
                                <h1 class="access-none"><i class="fas fa-times"></i>Rémunération sur ses musiques</h1>
                                <h1 class="access-none"><i class="fas fa-times"></i>Ecoute hors-connexion</h1>
                                <h1 class="access-btc"><i class="fab fa-btc"></i>Pay with BTC</h1>
                                <div class="container">
                                    <button class="btn-1">CHOISIR !</button>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="box">
                        <div class="column">
                            <h1 class="titre_packages">DIOZIK PREMIUM</h1>
                            <center>
                                <p class="price">9,99€</p>
                                <h3 class="per-month">par mois</h3>
                                <h1 class="access"><i class="fas fa-check"></i>Le plus grand catalogue de musique à ce jour.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Publier ses propres musiques.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Sans publicités.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Zapper à volonté.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Rémunération sur ses musiques</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Ecoute hors-connexion</h1>
                                <h1 class="access-btc"><i class="fab fa-btc"></i>Pay with BTC</h1>
                                <div class="container">
                                    <a href="{{ url_for('buy_premium') }}"><button class="btn-2">CHOISIR !</button></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="box">
                        <div class="column">
                            <h1 class="titre_packages">DIOZIK STUDENT</h1>
                            <center>
                                <p class="price">7,99€</p>
                                <h3 class="per-month">par mois</h3>
                                <h1 class="access"><i class="fas fa-check"></i>Le plus grand catalogue de musique à ce jour.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Publier ses propres musiques.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Sans publicités.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Zapper à volonté.</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Rémunération sur ses musiques</h1>
                                <h1 class="access"><i class="fas fa-check"></i>Ecoute hors-connexion</h1>
                                <h1 class="access-btc"><i class="fab fa-btc"></i>Pay with BTC</h1>
                                <div class="container">
                                    <a href="{{ url_for('buy_student') }}"><button class="btn-1">CHOISIR !</button></a>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="box2" display=none>
                        <div class="column">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center><h3 class="footer-text">Jetez un coup d'oeil <a href="{{ url_for('select') }}" class="text">aux conditions générales de ventes</a></h3></center>
    </body>
</html>