<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Diozik</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('shop') }}">Boutique</a>
            <a href="{{ url_for('headersign') }}">{{ sign }}</a>
            <a href="{{ url_for('headerlog') }}">{{ log }}</a>
        </header>

        <h1>Contact</h1>
        <a href="{{ url_for('home') }}">Retourner à l'accueil</a>
    </body>
    <footer>
        <a href="{{ url_for('about') }}">À propos</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('cgu_cgc') }}">CGU / CGC</a>
    </footer>
</html>