<form action="{{ url_for('user_edit_save') }}" method="POST">
    {{ msg }}
    <h3>Édition du profil</h3>
    Nom d'utilisateur :<br>
    <input type = "text" name = "username" value="{{ username }}"/></br>

    Adresse mail :<br>
    <input type = "email" name = "mail" value="{{ mail }}"/></br>

    Mot de passe actuel :<br>
    <input type = "password" name = "password" placeholder="Entrez votre mot de passe actuel"/></br>

    <p>Modifier votre mot de passe :</p>

    Nouveau mot de passe :<br>
    <input type = "password" name = "new_password" placeholder="Entrez un nouveau mot de passe"/></br>

    Confirmer le nouveau mot de passe<br>
    <input type = "password" name = "new_password_2" placeholder="Confirmer le nouveau mot de passe"/></br>

    <input type = "submit" value = "Enregistrer les modifications" /><br>
</form>