<!DOCTYPE HTML>
<html>
    <head>

        <script src="jquery-3.5.1.min.js"></script>
        <meta charset="utf-8">
        <title> Diozik </title>
        
        <! -- CSS -- >
        <!--importation de BULMA--> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="icon" href="../static/img/icon.ico"/>
        <link rel="stylesheet" href="../static/css/cgu.css">
        <! -- CSS -- >
        
        <! -- JS -- >
        <script rel="stylesheet" src="../static/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap/min.js"></script>
        <! -- JS -- >
        
        <! -- FONT -- >
        <!--Importation des polices-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d124f7e81a.js" crossorigin="anonymous"></script>
        <! -- FONT -->

    </head>

    <body>
        <div class="block">
            <h1 class="titre">Conditions générales d'utilisations de Diozik</h1>
            <ol class="enumeration">
                <li>1 - <a href="#introduction" class="sous">Introduction</a></li>
                <li>2 - <a href="#2" class="sous">Modifications des Contrats</a></li>
                <li>3 - <a href="#3" class="sous">Profiter de Diozik</a></li>
                <li>4 - <a href="#4" class="sous">Paiements, annulations et délai de réfléxion</a></li>
                <li>5 - <a href="#5" class="sous">Droits que vous nous concédez</a></li>
                <li>6 - <a href="#6" class="sous">Directives applicables aux utilisateurs</a></li>
                <li>7 - <a href="#7" class="sous">Communauté d'assistance de Diozik</a></li>
                <li>8 - <a href="#8" class="sous">Assistance des clients</a></li>
                <li>9 - <a href="#9" class="sous">Durée et résiliation</a></li>
                <li>10 - <a href="#10" class="sous">Nous contacter</a></li>
            </ol>
            <p class="paragraphe">
                Bonjour et bienvenue dans les Conditions générales d'utilisation de Diozik. Les Conditions que vous voyez ci-dessous sont importantes, car elles :
            </p>
                <dl class="paragraphe-li">&ensp;
                    <li>décrivent vos droits légaux sur Diozik</li>
                    <li>décrivent les droits que vous nous concédez lorsque vous utilisez Diozik.</li>
                    <li>décrivent les règles que tout le monde doit suivre lors de l'utilisation de Diozik.</li>
                    <li>contiennent une renonciation à une action collective et comment résoudre des litiges par arbitrage.</li>&ensp;
                </dl>
            <p class="paragraphe">
                Veuillez lire attentivement les présentes Conditions, notre Politique de confidentialité ainsi que toute condition supplémentaire évoquée dans le présent document. Nous espérons que vous êtes assis confortablement et que vous écoutez de la bonne musique.
                
                C'est parti...
            </p>
            <p id="introduction" class="relier">1 - Introduction</p>
            <p class="paragraphe">
                Merci d'avoir choisi Diozik. Diozik fournit des services
                 personnalisés avec des fonctionnalités sociales et 
                 interactives pour le streaming de musique et d'autres 
                 contenus ainsi que d'autres produits et services pouvant 
                 parfois être développés. En vous inscrivant ou en utilisant 
                 d'une autre manière l'un de ces services Diozik, notamment 
                 toutes les caractéristiques et fonctionnalités associées, les
                 sites Web et les interfaces utilisateur, ainsi que tous 
                 les contenus et applications logicielles associés à nos 
                 services, ou en accédant à toute musique, vidéo ou autre contenu ou support mis à disposition par le Service vous signez un contrat ayant force exécutoire avec l'entité Diozik.
                <br>
                <p class="espace">
                    Le contract conclu avec nous comprend les présentes Conditions 
                    et toute condition supplémentaire que vous acceptez, tel 
                    qu'indiqué à la section Intégralité du Contrat ci-dessous,
                    à l'exception des conditions avec des tierces parties 
                    . Les Contrats comprennent
                    des dispositions concernant les modifications des Contrats, 
                    le contrôle des exportations, les renouvellements automatiques,
                    les limitations, la <a href="{{ url_for('pdc') }}" target="frame" class="lien">confidentialité</a>, la renonciation à l'action
                    collective et la résolution des conflits par arbitrage plutôt que 
                    devant un tribunal. Si vous souhaitez consulter les <a href="{{ url_for('cgv') }}" target="frame" class="lien">conditions
                    des Contrats </a>, la version en vigueur des Contrats peut être 
                    consultée sur le site Web de Diozik. Vous reconnaissez avoir 
                    lu et compris les Contrats, accepter ces Contrats, et acceptez d'être liés par eux. Si vous n'acceptez pas (ou ne pouvez pas respecter) les Contrats, vous ne pouvez alors pas utiliser le Service Diozik ni accéder au Contenu.
                </p>
            </p>
            <p id="2" class="relier">2 - Modifications des Contrats</p>
            <p class="paragraphe">
                Nous pouvons occasionnellement apporter des modifications aux Contrats 
                pour des raisons valables, telles que l'amélioration des fonctions ou 
                caractéristiques existantes ou l'ajout de nouvelles fonctions ou 
                caractéristiques au Service, la mise en œuvre des progrès scientifiques 
                et technologiques et des ajustements techniques raisonnables au Service, 
                la garantie du fonctionnement ou de la sécurité du Service, et pour des 
                raisons légales ou réglementaires. En cas de modification substantielle 
                de ce Contrat, nous vous en informerons par le biais de notifications 
                adaptées, par exemple, en affichant un avis visible ou en demandant votre 
                accord dans le Service Diozik ou en vous envoyant un e-mail. Dans certains
                 cas, nous vous avertirons et la poursuite de votre utilisation du Service 
                 une fois les modifications apportées constituera une acceptation de ces 
                 modifications. Assurez-vous de lire attentivement ces avis. Si vous ne 
                 souhaitez pas poursuivre l'utilisation du Service aux termes de la nouvelle
                  version des Contrats, vous pouvez résilier votre compte en nous contactant.
                Si vous avez reçu un Essai ou un Abonnement payant par l'intermédiaire d'une tierce partie, vous devez 
                résilier l'abonnement payant applicable auprès de cette tierce partie.
            </p>
            <p id="3" class="relier">3 - Profiter de Diozik</p>
            <p class="paragraphe">
                Voici quelques informations sur les manières dont vous pouvez profiter de Diozik.
            </p>
            <p class="sous-relier">
                3.1 - Options de service
            </p>
            <p class="paragraphe">
                Vous trouverez une description de nos options de Service sur 
                notre site Web, et nous vous expliquerons quelles options de 
                Service sont disponibles lorsque vous créez un compte Diozik.
                Certaines options vous sont offertes gratuitement. Le Service 
                Diozik qui n'exige pas de paiement est actuellement appelé le
                . D'autres options exigent un paiement 
                avant que vous puissiez y accéder. Nous pouvons également offrir 
                des abonnements promotionnels spéciaux, des abonnements 
                ou des services, notamment des offres de produits et services de
                tierces parties conjointement au Service Diozik ou par son 
                intermédiaire. Nous ne sommes pas responsables des produits et 
                services fournis par ces tierces parties. Nous nous réservons le
                droit de modifier, de résilier ou d'amender de toute autre 
                manière les abonnements et offres promotionnelles que nous 
                proposons à tout moment, conformément aux présentes Conditions.
                <br>
                <p class="espace">
                    Le Service Illimité peut ne pas être disponible pour tous les 
                    utilisateurs. Nous expliquerons les services à votre disposition 
                    lorsque vous vous inscrirez aux services. Si vous résiliez votre 
                    abonnement au Service Illimité, ou si votre abonnement au Service
                    Illimité est interrompu (par exemple, si vous modifiez vos 
                    informations de paiement), vous ne pourrez plus vous réabonner 
                    au Service Illimité. Notez que le Service Illimité peut être 
                    interrompu ultérieurement, auquel cas, vous ne serez plus 
                    facturé pour le Service.&ensp;
                </p>
                <p class="espace">
                    Si vous avez acheté ou reçu un code, une carte-cadeau,
                    une offre prépayée ou une autre offre fournie ou vendue 
                    par ou au nom de Diozik afin d'accéder à un Abonnement 
                    payant, des conditions générales distinctes présentées avec 
                    le Code peuvent également s'appliquer à votre accès au Service 
                    et vous acceptez de respecter ces conditions générales. 
                    Vous pouvez également acheter un accès à un Abonnement payant 
                    par l'intermédiaire d'une tierce partie. Dans de tels cas, des
                    modalités et conditions distinctes avec cette tierce partie, 
                    en plus des Contrats, peuvent s'appliquer à votre accès au 
                    Service.
                </p>
            </p>
            <p class="sous-relier">
                3.2 - Essais
            </p>
            <p class="paragraphe">
                De temps à autre, nous ou des tiers en notre nom pouvons offrir des essais 
                d'Abonnements payants pendant une période spécifiée, sans paiement, ou 
                à un prix réduit. Diozik se réserve le droit de déterminer
                votre éligibilité à un Essai, et de retirer ou de modifier un Essai à tout 
                moment, sans préavis ni aucune responsabilité, dans la limite autorisée par
                la loi en vigueur.
                <br>
                <p class="espace">
                    Pour certains Essais, nous vous demanderons de fournir vos 
                    informations de paiement afin de démarrer l'Essai. 
                    En fournissant ces informations, vous acceptez que nous 
                    puissions automatiquement commencer à vous facturer 
                    l'Abonnement payant le premier jour suivant la fin de l'Essai,
                    sur une base mensuelle récurrente ou un autre intervalle que
                    nous vous communiquons à l'avance. SI VOUS NE VOULEZ PAS 
                    CETTE FACTURATION, VOUS DEVEZ RÉSILIER L'ABONNEMENT PAYANT 
                    CONCERNÉ AVANT LA FIN DE L'ESSAI SI VOUS VOUS ÊTES INSCRIT
                    À L'ESSAI SUR Diozik. SI VOUS AVEZ REÇU VOTRE ESSAI PAR 
                    UNE TIERCE PARTIE, VOUS DEVEZ RÉSILIER L'ABONNEMENT PAYANT
                    CONCERNÉ PAR L'INTERMÉDIAIRE DE LA TIERCE PARTIE.
                </p>
            </p>
            <p id="4" class="relier">4 - Paiements, annulations et délai de réfléxion</p>
            <p class="sous-relier">
                4.1 - Facturation
            </p>
            <p class="paragraphe">
                Vous pouvez acheter un Abonnement payant directement auprès 
                de Diozik ou par l'intermédiaire d'une tierce partie, soit 
                (1) en payant à l'avance des frais d'abonnement 
                sur une base mensuelle ou tout autre intervalle périodique 
                qui vous a été communiqué avant votre achat ; soit (2) par 
                prépaiement vous donnant accès au Service Diozik pour une 
                période spécifique.
                <br>
                <p class="espace">
                    Diozik peut de temps à autre modifier le prix des Abonnements payants, 
                    y compris les frais d'abonnement périodiques, de la Période prépayée 
                    (pour les périodes non encore payées), ou des Codes, et vous communiquera 
                    toute modification tarifaire à l'avance, et, le cas échéant, comment 
                    accepter ces changements. Les modifications tarifaires prendront effet à 
                    partir de la période d'abonnement consécutive à la date de modification 
                    tarifaire. Sous réserve du droit applicable, en continuant à utiliser le 
                    Service Diozik après l'entrée en vigueur de la modification tarifaire, 
                    vous acceptez le nouveau tarif. Si vous n'acceptez pas les modifications 
                    tarifaires, vous avez le droit de refuser la modification en vous 
                    désabonnant du Service Diozik avant l'entrée en vigueur de la modification 
                    tarifaire.
                </p>
                <p class="espace">
                    Si vous vous inscrivez à un Abonnement payant, vous pouvez changer 
                    d'avis pour quelque raison que ce soit et recevoir un remboursement 
                    complet de toutes les sommes payées dans les quatorze (14) jours suivant 
                    la date d'inscription au service concerné
                    conformément à ce qui suit :
                </p>
                <dl class="paragraphe-li2">
                    <li>Si vous vous inscrivez à un Essai, vous acceptez que la période de réflexion pour 
                        l'abonnement payé pour lequel vous recevez un Essai; se termine quatorze 
                        (14) jours après avoir commencé l'Essai. Si vous ne résiliez pas 
                        l'Abonnement payant avant la fin de l'Essai, vous perdez votre droit de 
                        rétractation et autorisez Diozik à vous facturer automatiquement le prix 
                        convenu chaque mois, jusqu'à ce que vous résiliiez l'Abonnement payant.</li>
                    <li>décrivent les droits que vous nous concédez lorsque vous utilisez Diozik.</li>
                </dl>
            </p>
            <p class="sous-relier">
                4.2 - Renouvellement et annulation
            </p>
            <p class="paragraphe">
                À moins que votre Abonnement payant n'ait été acheté sous forme d'une 
                Période prépayée, votre paiement à Diozik ou à une tierce partie par 
                laquelle vous avez acheté l'Abonnement payant se renouvellera automatiquement 
                à la fin de la période de l'abonnement, à moins que vous ne résiliiez votre 
                Abonnement payant avant la fin de la période d'abonnement en cours en 
                cliquant ici si vous avez acheté l'Abonnement payant auprès de Diozik, 
                ou, si vous avez acheté l'Abonnement payant auprès d'une tierce partie, en 
                résiliant l'Abonnement payant auprès de cette tierce partie. La résiliation 
                entrera en vigueur le lendemain du dernier jour de la période d'abonnement 
                en cours, et vous serez rétrogradé au Service gratuit. Si vous avez acheté 
                votre Abonnement payant auprès de Diozik et que vous annulez votre paiement 
                ou l'Abonnement payant ou résiliez l'un quelconque des Contrats (1) après la 
                fin de la Période de réflexion (le cas échéant) ou (3) avant la fin de la 
                période d'abonnement en cours, nous ne rembourserons pas les frais 
                d'abonnement qui nous ont déjà été payés. Si vous souhaitez recevoir le 
                remboursement total de toutes les sommes versées avant la fin de la Période 
                de réflexion, vous devez contacter le Support client. Lorsque nous procédons 
                à un remboursement, nous vous rembourserons les sommes selon le mode que 
                vous avez utilisé pour le paiement.
                <br>
                <p class="espace">
                    Si vous avez souscrit un Abonnement payant à l'aide d'un Code, 
                    votre abonnement se terminera automatiquement à la fin de la période 
                    indiquée dans le Code, ou si le solde prépayé est insuffisant pour payer 
                    le service. Si vous avez acheté votre Abonnement payant par l'intermédiaire 
                    d'une tierce partie, vous devez résilier directement auprès de cette tierce 
                    partie.
                </p>
            </p>
            <p id="5" class="relier">5 - Droits que vous nous concédez</p>
            <p class="paragraphe">
                En contrepartie des droits qui vous sont concédés aux termes 
                des Contrats, vous nous concédez le droit (1) d'autoriser 
                le Service Diozik à utiliser le processeur, 
                la bande passante, et le matériel de stockage sur votre 
                Appareil, afin de faciliter le fonctionnement du Service, (2) 
                de vous transmettre de la publicité et d'autres informations et 
                (3) d'autoriser nos partenaires commerciaux à faire de même. 
                Dans toute partie du Service Diozik, le Contenu que vous 
                affichez, comprenant sa sélection et son positionnement, 
                peut être influencé par des considérations commerciales, 
                comme des contrats avec des tierces parties. Une partie du 
                Contenu sous licence ou fourni à Diozik (par exemple, les 
                podcasts) peut contenir de la publicité comme partie intégrante 
                dudit Contenu. Diozik mettra ce Contenu à votre disposition 
                sans modification.
                <br>
                Si vous transmettez des commentaires, 
                idées ou suggestions à Diozik en relation avec le Service 
                Diozik ou le Contenu, vous reconnaissez 
                que les Commentaires ne sont pas confidentiels et vous 
                autorisez Diozik à utiliser ces Commentaires sans restriction 
                et sans vous verser de paiement. Les Commentaires sont considérés 
                comme un type de Contenu utilisateur.
                <p class="espace">
                    Vous concédez à Diozik une licence non-exclusive, transférable, 
                    pouvant faire l'objet d'un octroi en sous-licence, libre de droits, 
                    perpétuelle (ou dans les juridictions où cela n'est pas autorisé, 
                    pendant une durée égale à la durée des Contrats, plus vingt (20) ans),
                    irrévocable, entièrement payée, et mondiale d'utiliser, reproduire, 
                    mettre à disposition du public (par exemple, exécuter ou afficher), 
                    publier, traduire, modifier, créer des œuvres dérivées de, et distribuer
                    tout Contenu utilisateur vous appartenant, en relation avec le Service 
                    par l'intermédiaire de tout support, que ce soit seul ou en combinaison 
                    avec d'autres contenus ou matériels, de toute manière et par tout moyen, 
                    méthode ou technologie, connu aujourd'hui ou créé ultérieurement. 
                    En dehors des droits spécifiquement concédés aux présentes, vous demeurez 
                    titulaire de tous les droits, comprenant les droits de propriété 
                    intellectuelle sur le Contenu utilisateur. Le cas échéant, et lorsque 
                    cela est autorisé aux termes de la loi en vigueur, vous acceptez également 
                    de renoncer à tout, tel que votre droit d'être identifié 
                    en tant qu'auteur de tout Contenu utilisateur, y compris les Commentaires, 
                    et votre droit à contester un traitement péjoratif de ce Contenu utilisateur.
                </p>
            </p>
            <p id="6" class="relier">6 - Directives applicables aux utilisateurs</p>
            <p class="paragraphe">
                Diozik respecte les droits de propriété intellectuelle 
                et s'attend à ce que les respectiez également. Nous avons 
                mis en place quelques règles de base que vous devez suivre 
                lorsque vous utilisez le Service, afin de garantir que Diozik 
                puisse être apprécié par tout le monde. Veuillez suivre ces 
                règles et encourager les autres utilisateurs à faire de même.
                <br>
                Ce qui suit n'est pas autorisé, quel que soit le motif :
            </p>
            <br>
            <ol class="paragraphe-li2">
                <li>copier, redistribuer, reproduire, enregistrer, transférer, exécuter ou 
                    afficher au public, diffuser, ou mettre à la disposition du public, 
                    toute partie du Service Diozik ou du Contenu, ou utiliser le Service 
                    Diozik ou le Contenu de manière non expressément autorisée par les 
                    Contrats, ou la loi en vigueur, ou de toute autre manière violant 
                    les droits de propriété intellectuelle (tels que le droit d'auteur) 
                    du Service Diozik ou du Contenu, ou toute partie de celui-ci ;</li>
                <li>utiliser le Service Diozik afin d'importer ou de copier tout fichier local 
                    que vous n'avez pas le droit d'importer ou de copier de cette manière ;</li>
                <li>transférer des copies du Contenu mis en cache depuis un Appareil autorisé, 
                    vers un autre Appareil, par quelque moyen que ce soit ;</li>
                <li>faire de la rétro-ingénierie, décompiler, désassembler, modifier ou créer des 
                    œuvres dérivées basées sur le Service Diozik, le Contenu ou toute partie 
                    de celui-ci, à moins que cela ne soit autorisé par la loi. [Si la loi en 
                    vigueur vous autorise à décompiler toute partie du Service Diozik ou du 
                    Contenu lorsque cela est nécessaire pour obtenir les informations nécessaires 
                    à la création d'un programme indépendant pouvant être exploité avec le 
                    Service Diozik ou avec un autre programme, les informations que vous 
                    obtenez de ces activités (a) ne peuvent être utilisées que pour l'objectif 
                    susmentionné, (b) ne peuvent être divulguées ou communiquées sans le 
                    consentement écrit préalable de Diozik à une tierce partie à qui il 
                    n'est pas nécessaire de divulguer ou de communiquer afin d'atteindre cet 
                    objectif, et (c) ne peuvent être utilisées pour créer un logiciel ou un 
                    service dont l'expression est essentiellement similaire à toute partie du 
                    Service Diozik ou du Contenu] ;</li>
                <li>contourner toute technologie utilisée par Diozik, ses concédants de licence, 
                    ou toute tierce partie pour protéger le Contenu ou le Service ;</li>
                <li>vendre, louer, concéder en sous-licence, ou louer à bail toute partie du Service Diozik ou le Contenu ;</li>
                <li>contourner toute restriction territoriale appliquée à Diozik ou ses concédants de licence ;</li>
                <li>augmenter artificiellement le nombre de lectures, ou manipuler les Services (i) à l'aide d'un script ou autre processus automatisé ;
                     (ii) en fournissant ou acceptant toute forme de compensation 
                     (financière ou autre), ou (iii) par tout autre moyen ;</li>
                <li>supprimer ou modifier tout droit d'auteur, marque commerciale, ou autre 
                    notification de propriété intellectuelle présent dans le Contenu ou le 
                    Service ou fourni par l'intermédiaire du Service (y compris afin de déguiser 
                    ou modifier des 
                    indications sur la qualité d'ayant droit ou de source de tout Contenu) ;</li>
                <li>contourner ou bloquer des publicités publiées sur le Service Diozik, ou créer ou distribuer des outils 
                    conçus pour bloquer les publicités du Service Diozik</li>
                <li>fournir votre mot de passe à toute autre personne ou utiliser le nom d'utilisateur et mot de passe d'une autre personne ;</li>
                <li>procéder au << crawling >> (indexer) du Service Diozik ou utiliser tout moyen automatisé (comprenant des bots, scrapers, et spiders) 
                    pour consulter, accéder ou recueillir des informations auprès de Diozik ou du Service Diozik ;</li>
                <li>vendre un compte utilisateur ou une playlist, ou accepter toute indemnisation, financière ou autre, afin d'influencer le nom d'un compte ou d'une 
                    playlist ou le contenu d'un compte ou d'une playlist ; ou</li>
                <li>promouvoir artificiellement le Contenu par des moyens automatisés ou autres.</li>
            </ol>
            <p class="paragraphe">
                Veuillez respecter Diozik, les titulaires du Contenu, et les autres 
                utilisateurs du Service Diozik. Ne vous engagez pas dans une activité, 
                ne publiez aucun Contenu utilisateur, ou ne vous inscrivez pas ou 
                n'utilisez pas de nom d'utilisateur qui est ou comporte un élément qui :
            </p>
            <br>
            <ol class="paragraphe-li2">
                <li>est offensant, abusif, diffamatoire, pornographique, menaçant ou obscène ;</li>
                <li>est illégal, ou destiné à promouvoir ou commettre un acte illégal de quelque nature que ce soit, comprenant, sans s'y limiter, les violations 
                    des droits de propriété intellectuelle de Diozik ou d'une tierce partie ;</li>
                <li>comprend votre mot de passe ou comprend à dessein le mot de passe de tout autre utilisateur ou comprend intentionnellement les données de tierces parties, 
                    ou est destiné à solliciter ces données personnelles ;</li>
                <li>comprend du contenu malveillant, tel qu'un maliciel, des chevaux de Troie ou virus, ou interfère autrement avec l'accès de tout utilisateur au Service ;</li>
                <li>est destiné à harceler ou harcèle ou intimide les autres utilisateurs ;</li>
                <li>incarne ou représente abusivement votre affiliation avec un autre utilisateur, personne ou entité, ou est autrement frauduleux, faux ou trompeur ;</li>
                <li>implique la transmission de courriers électroniques de masse non sollicités ou autres formes de spam, courrier indésirable, chaînes de lettres, ou similaires ;</li>
                <li>implique des activités commerciales ou de vente, telles que la publicité, les promotions, concours, loteries, ou systèmes pyramidaux, qui ne sont pas expressément autorisés par Diozik ;</li>
                <li>propose des liens vers, des références à ou promeut autrement des produits ou services commerciaux, sauf si expressément autorisé par Diozik ;</li>
                <li>interfère avec ou interrompt d'une quelconque manière le Service Diozik, 
                    falsifie, viole ou tente de sonder, scanner ou tester les vulnérabilités du 
                    Service ou les systèmes informatiques, le réseau, les règles d'utilisation 
                    de Diozik, ou l'un quelconque des composants de sécurité, mesures 
                    d'authentification ou autres mesures de protection de Diozik, 
                    applicables au Service, 
                    au Contenu ou à toute partie de ceux-ci ; ou</li>
                <li>est en conflit avec les Contrats, tel que déterminé par Diozik.</li>
            </ol>
            <p class="paragraphe">
                Vous reconnaissez et convenez que la publication de tout Contenu 
                utilisateur qui entre en violation avec les Directives applicables aux 
                utilisateurs (ou dont Diozik pense raisonnablement qu'il enfreint ces 
                Directives applicables aux utilisateurs) peut entraîner la résiliation ou 
                suspension immédiate de votre compte Diozik. Vous convenez également que 
                Diozik peut reprendre votre nom d'utilisateur s'il est raisonnable pour 
                nous de le faire, 
                notamment si vous avez violé les Contrats.
                <p class="espace">
                    Soyez attentif à la manière dont vous utilisez le Service 
                    Diozik et à ce que vous partagez. Le Service Diozik 
                    comprend des fonctionnalités sociales et interactives, 
                    dont la capacité de publier du Contenu utilisateur, de 
                    partager du contenu, et de rendre publiques certaines 
                    informations vous concernant. N'oubliez pas que les 
                    informations partagées ou publiquement disponibles peuvent 
                    être utilisées par les autres utilisateurs de Diozik ou sur 
                    le Web. Veuillez donc utiliser Diozik avec prudence et être 
                    attentif aux paramètres de votre compte.
                    <br>
                    Diozik n'est en aucun cas responsable dans vos choix de publier des documents ou informations sur le Service.
                </p>
                <p class="espace">
                    Votre mot de passe protège votre compte utilisateur et il vous incombe 
                    de préserver la confidentialité et la sécurité de votre mot de passe. Vous 
                    comprenez que vous êtes responsable de toute utilisation de votre nom 
                    d'utilisateur et mot de passe sur le Service. Si votre nom d'utilisateur 
                    ou mot de passe est volé ou perdu, ou si vous pensez que votre compte a 
                    fait l'objet d'un accès non autorisé par des tierces parties, veuillez 
                    nous le faire savoir 
                    immédiatement et modifier votre mot de passe dès que possible.
                </p>
            </p>
            <p id="7" class="relier">7 - Communauté d'assistance de Diozik</p>
            <p class="paragraphe">
                La Communauté d'assistance de Diozik est un lieu de discussion et d'échange d'informations, astuces et autres documents liés au Service Diozik. En utilisant la Communauté d'assistance de Diozik, 
                vous acceptez les <a href="{{ url_for('cgu') }}" target="frame" class="lien">Conditions générales de la Communauté</a>.
            </p>
            <p id="8" class="relier">8 - Assistance des clients</p>
            <p class="paragraphe">
                Vous pouvez également déposer une plainte sur la plateforme en ligne pour un règlement des litiges alternatif (plateforme RLL). Vous trouverez la plateforme RLL en cliquant sur le lien suivant 
                : <a href="https://ec.europa.eu/consumers/odr" class="lien">https://ec.europa.eu/consumers/odr</a>.
            </p>
            <p id="9" class="relier">9 - Durée et résiliation</p>
            <p class="paragraphe">
                Les Contrats demeureront en vigueur jusqu'à leur résiliation, 
                à votre initiative, ou à celle de Diozik. Vous convenez et reconnaissez 
                cependant que la licence perpétuelle que vous avez concédée, en relation 
                avec le Contenu utilisateur, comprenant les Commentaires, est irrévocable, et 
                continuera donc après l'expiration ou la résiliation de l'un des Contrats 
                pour quelque motif que ce soit. Diozik peut à tout moment résilier les 
                Contrats ou suspendre votre accès au Service Diozik, y compris en cas 
                d'utilisation non autorisée réelle ou suspectée du Service Diozik ou du 
                Contenu, de non-respect des Contrats ou si nous retirons des Services ou du 
                Contenu (auquel cas nous vous en informerons dans un délai raisonnable). En 
                cas de résiliation des Contrats, par vous ou Diozik, ou si Diozik suspend 
                votre accès au Service Diozik, Diozik n'assumera aucune responsabilité 
                envers vous et ne remboursera pas les sommes que vous avez déjà payées, 
                dans limites autorisées par la loi en vigueur. Vous pouvez résilier les 
                Contrats à tout moment. Pour savoir comment résilier votre compte Diozik, 
                contactez-nous à l'aide du formulaire de contact du Service client, 
                disponible sur notre page À propos de. Cette section sera appliquée dans les 
                limites autorisées par la loi en vigueur.
            </p>
            <p id="10" class="relier">10 - Nous contacter</p>
            <p class="paragraphe">
                Si vous avez des questions concernant le Service Diozik ou les 
                Contrats, veuillez contacter le Service client de Diozik en consultant 
                la section À propos de notre site Web.
                <br>
                <p class="espace">Merci d'avoir lu nos Conditions générales. Nous espérons que vous apprécierez Diozik !</p>
            </p>
            <p class="contact">
                Entité contractante :
                <br>
                <a href="{{ url_for('cgu') }}" class="lien">Diozik FR</a>
                <br>
                Saint-Aubin La Salle
                <br>
                France
                <br>
                Emilien, Matthis
            </p>
        </div>
    </body>
</html>